<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      >
    <mat-toolbar></mat-toolbar>

    <mat-nav-list>
          <mat-list-item [matMenuTriggerFor]="menuEmail">E-mail</mat-list-item>
    </mat-nav-list>


    <mat-menu #menuEmail="matMenu">
      <a mat-menu-item href="/pages/sms-envio"> <mat-icon>send</mat-icon> <span>Enviar</span> </a>
      <a mat-menu-item href="/pages/sms-config"> <mat-icon>settings</mat-icon> <span>Configuração</span> </a>
    </mat-menu>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span class="example-spacer"></span>
      
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sair()">
        <mat-icon aria-label="Side nav toggle icon">exit_to_app</mat-icon>
      </button>
      <!--<span>comunidade-angular</span>-->
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
